<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="versions.length != 0; else loading">
    <ngb-panel *ngFor="let version of versions" id="id_{{version.id}}">
        <ng-template ngbPanelHeader class="cardClass" style="width: 100%;">
            <button ngbPanelToggle style="width: 100%; padding: 0; border: none; background: none;">
                <div class="row">
                    <div class="col-md-3 text-left">
                        <h4><strong>{{version.ver_number}} </strong></h4>
                        <small class="mb-2">{{version.ver_release_date * 1000 |
                                date:'dd-MM-YYYY':"+0000"}}</small>
                    </div>
                    <div class="col-md-3 text-left">
                        <p *ngIf="admin">Creado por: {{version.ver_creado_por | titlecase}}</p>
                    </div>
                    <div class="col-md-3 flex-fill text-left">
                        {{ version.categoria | version:cats | titlecase}}
                    </div>
                    <div class="col-md-3 animate__animated animate__fadeIn" *ngIf="acc.isExpanded('id_'+version.id)">
                        Download • Try • Buy
                        <div class="d-flex flex-col flex-col-reverse" *ngIf="admin">
                            <button mat-button mat-raised-button color="warn" class="align-right ml-auto"
                                (click)="borrar(version.id)">
                                <mat-icon> delete </mat-icon> Borrar
                            </button>
                            <button mat-button mat-raised-button color="accent" class="align-right ml-2"
                                (click)="editar(version)">
                                <mat-icon> create </mat-icon> Editar
                            </button>
                        </div>
                    </div>
                </div>
            </button>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="col">
                <div class="row">
                    <div [innerHTML] ="version.descripcion"></div>
                </div>
                <div *ngIf="version.has_files" class="row align-content-center" style="margin:auto;">
                    <mat-grid-list cols="5" rowHeight="2:1">
                        <mat-grid-tile ngbSlide *ngFor="let img of version.archivos">
                            <img src="{{img.url}}" class="zoom" style="height: 80%; display: block;cursor: pointer; border-radius: 2px;" (click)="modalImagenes(version.archivos, img.id, version.ver_number)">
                        </mat-grid-tile>
                    </mat-grid-list> 
                </div><br><br>
                <mat-chip-list><mat-chip *ngFor="let tag of version.tags" color="primary"> {{tag}} </mat-chip> </mat-chip-list>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<ng-template #loading>
    <div class="d-flex align-content-center flex-wrap">
        <i class="fas fa-spinner fa-spin fa-3x" style="color: #007bff;"></i>
    </div>
</ng-template>