<meta name="Description" content="Component" />
<div class="modal-header">
  <h5 class="modal-title" *ngIf="!editar">Crear nueva entrada</h5>
  <h5 class="modal-title" *ngIf="editar">Editar entrada </h5>
  <button type="button" class="close" (click)="cerrar()">
    <mat-icon class="mat-icon-close">close</mat-icon>
  </button>
</div>
<div class="mat-app-background">
  <div class="card-body">
    <div class="mat-dialog-content">
      <div class="col">
        <form autocomplete="off" [formGroup]="versionForm">
          <div class="row form-group">
            <label for="ver_number">Version ID</label>
            <input
              type="text"
              id="ver_number"
              class="form-control"
              formControlName="ver_number">
          </div>
          <div class="row form-group">
            <label for="categoria">Categoria</label>
              <ng-select [items] = "cats" bindLabel = "nombre" bindValue="id" formControlName='categoria' style="width: 100%;margin: auto;">
             </ng-select>
          </div>
          <div class="row form-group">
              <mat-slide-toggle color="primary" formControlName = 'beta'> Beta version </mat-slide-toggle>
          </div>
          <div class="row form-group">
            <label for="ver_creado_por ">Autor</label>
            <input
              type="text"
              id="ver_creado_por"
              class="form-control"
              formControlName="ver_creado_por">
          </div>
          <div class="row form-group">
            <label for="ver_release_date">Fecha de creación</label>
            <input
              type="date"
              id="ver_release_date"
              class="form-control"
              formControlName="ver_release_date">
          </div>
          <div class="row form-group">
            <label for="descripcion">Descripcion</label>
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editor"  formControlName="descripcion" style="width: 100%;"></ngx-editor>
          </div>
          <div class="row form-group">
            <label for="tags">Etiquetas</label>
            <input #box
              type="text"
              id="tags"
              class="form-control"
              formControlName="tags"
              (keyup.enter) = "addTag(box.value); box.value = ''"
              >
          </div>
          <div class="row" *ngIf="tags.length === 10"> Ha ingresado el número máximo de etiquetas </div><br>
          <div class="row animated FadeIn" *ngIf="tags.length > 0">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of tags; let i = index;" color="primary" [removable] = "true" (removed) = "removeTag(i)">
                <span>{{tag}}</span>
                <mat-icon matChipRemove> highlight_off </mat-icon>
              </mat-chip>
            </mat-chip-list>
            
          </div>
          <br>
          <!--  SUBIR ARCHIVOS    -->
          <div class="row form-group">
            <label for="files">Archivos</label>
            <input hi type="file" accept="image/*" id="files" class="form-control" formControlName="files" (change) = "onFileSelected($event)" multiple/>
            <div class="form-group col-md-12  animated fadeIn" *ngIf="archivos && archivos.length > 0">
              <mat-chip-list>
                <mat-chip *ngFor="let forFile of archivos; let i = index;" color="primary" [removable]="true">
                  <span>{{ forFile.nombreArchivo }}</span>
                  <span *ngIf="forFile.progreso &&  forFile.progreso > 0" style="margin-left: 6px; margin-right: 6px"><strong>{{forFile.progreso}}%</strong></span>
                  <mat-icon matChipRemove *ngIf="!forFile.progreso">cancel</mat-icon>
                  <mat-icon *ngIf="forFile.progreso &&  (forFile.progreso > 0 && 100 > forFile.progreso)">cloud_upload</mat-icon>
                  <mat-icon matChipRemove *ngIf="forFile.progreso && forFile.progreso == 100">cancel</mat-icon>
                  <div class="progress container-fluid">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': forFile.progreso + '%' }"></div>
                  </div>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <!--  subir archivos end   -->
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class= 'mat-dialog-actions' align="center">
          <button mat-stroked-button color="primary" (click)="onSubmit()" *ngIf="!editar">Crear</button>
          <button mat-stroked-button color="primary" (click)="onSubmit()" *ngIf="editar">Editar</button>
          <button mat-stroked-button color="warn" (click)="cerrar()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>