<div class="container">
    <div class="row" style="height: 100%;">
      <div class="col-sm">
      </div>
      <div class="col-10">
        <br><br>  
        <h1 class="text-info">ODIS Version history</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur velit dignissimos, voluptas, beatae deleniti neque...</p>
        <br><br>
        <div class="row pb-2">
          <div class="col">
            <mat-label>Filtrar por:</mat-label>
            <mat-select #select matNativeControl id="filtro" name="filtro" [(value)] = "selected" (valueChange)="filtrar(select.value)">
              <mat-option value="Todos" selected>Todos</mat-option>
              <mat-option *ngFor="let cat of cats" value="{{cat.id}}" selected>{{cat.nombre | titlecase}}</mat-option>
            </mat-select>
          </div>
          <div class="col">
            <mat-form-field class="example-form-field">
              <mat-label>
                Buscar...
              </mat-label>
              <input #box type="text" matInput (keyup.enter)="buscar(box.value)" (input) = "revisarCaja(box.value)">
              <button mat-button *ngIf="box.value" matSuffix mat-icon-button aria-label="Clear" (click)="box.value=''; filtro = false">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

          </div>
          <div class="col" align="right">
            <button *ngIf="admin" mat-button mat-stroked-button color="primary"  [matMenuTriggerFor]="menu">Administrar  <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialog()"><mat-icon>add</mat-icon> Agregar versión</button>
              <button mat-menu-item (click)="openMailLists()">  Administrar Listas de Correo</button>
            </mat-menu>
            <button *ngIf="!admin" mat-button mat-raised-button color="primary" class="mt-2" style="margin: auto; display: block;" (click)="swalSub()">Suscribirse</button>
          </div>
        </div>
        <app-accordion *ngIf="selected === 'Todos' && !filtro" [versions] = "versions" ></app-accordion>
        <app-accordion *ngIf="filtro" [versions] = "filtrado" ></app-accordion>
      </div>
      <div class="col-sm">
      </div>
    </div>
  
</div>

