<div class="container">
    <div class="row" style="height: 100%;">
      <div class="col-sm">
      </div>
      <div class="col-10">
        <br><br>  
        <h1 class="text-info">ODIS Version history</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur velit dignissimos, voluptas, beatae deleniti neque...</p>
        <br><br>
        <app-accordion [versions] = "versions" ></app-accordion>
      </div>
      <div class="col-sm">
      </div>
    </div>
  
</div>

<button type="button" class="btn btn-primary btn-lg sticky-bottom rounded-circle float-right m-3" style= "position: -webkit-sticky; position: sticky; bottom: 1%; float: right;" (click)="openDialog()"><i class="fas fa-plus"></i></button>