<div class="container">
    <div class="row" style="height: 100%;">
      <div class="col-sm">
      </div>
      <div class="col-10">
        <br><br>  
        <h1 class="text-info">ODIS Version history</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur velit dignissimos, voluptas, beatae deleniti neque...</p>
        <br><br>
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="versions.length != 0; else loading">
          <ngb-panel *ngFor="let version of versions; let i = index" id="id_{{version.id}}">
            <ng-template ngbPanelHeader class= "cardClass" style="width: 100%;">
              <button ngbPanelToggle style="width: 100%; padding: 0; border: none; background: none;">
                <div class="d-flex flex-row pb-2 pt-2">
                  <div class="col-3 text-left" >
                    <div class="row"><h5><strong>{{version.data.ver_number}} </strong></h5></div>
                    <div class="row"><small>{{version.data.ver_release_date.seconds * 1000 | date:'dd-MM-YYYY'}}</small></div>
                  </div>
                  <div class="col-3">
                    Creado por: {{version.data.ver_creado_por | titlecase}}
                  </div>
                  <div class="col-3 flex-fill">
                    Cat: {{version.data.categoria}}
                  </div>
                  <div class="col-3 animate__animated animate__fadeIn" *ngIf="acc.isExpanded('id_'+version.id)">
                    Download • Try • Buy
                  </div>
                </div>
              </button>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-8">
                  Descripcion: {{version.data.descripcion}}
                </div>
                <span flex class="spacer"></span>
                <div class="col">
                  <button mat-button mat-raised-button color="warn" class="align-right" (click) = borrar(version.id)><mat-icon> delete </mat-icon> Borrar </button>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-sm">
      </div>
    </div>
  
</div>

<button type="button" class="btn btn-primary btn-lg sticky-bottom rounded-circle float-right m-3" style= "position: -webkit-sticky; position: sticky; bottom: 1%; float: right;" (click)="openDialog()"><i class="fas fa-plus"></i></button>

<ng-template #loading>
  <div class="d-flex align-content-center flex-wrap">
    <i class="fas fa-spinner fa-spin fa-3x" style="color: #007bff;"></i>
  </div>
</ng-template>