<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink] = "['']"><i class="fas fa-history"></i>   ODIS Version History</a>
    <div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit" (click)="agregar()"> Buscar </button>
      </form>
    </div>
  </div>
</nav>

<button (click)="agregar()" >AGREGAR</button>


<router-outlet></router-outlet>

